
:root {
  --clr-primary: #2962ff;
  --clr-primary-hover: #0d47a1;
  --clr-gray-med: #78909c;
  --clr-gray-light: #cfd8dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #312f2e;
  margin: 2em;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--clr-gray-light);
}


main {
  margin-top: 1em;
  color: white;
}

#div-container {
  border: none;
  background-color: #312f2e;
  display: flex;
  flex-wrap:wrap;
  width:100%;
  margin: 2em 0em;
  
}

.div-shadow {
  width: 90%;
  height: 2em;
  box-shadow: inset 0px 0px 10px var(--clr-gray-med);
  margin: 0 1em 1em 0;
}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 2px solid rgb(72, 87, 72);
  border-radius: 4px;
  background-color: #312f2e;
  color: white;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  width: 100%;
  border-radius: 5px;
  background-color: #413e3d;
  border: 2px solid rgb(72, 87, 72);
  border-radius: 4px;
  padding: 20px;
}

input[type=file]::-webkit-file-upload-button {
  border: 4px solid rgb(72, 87, 72);
  padding: .2em .4em;
  border-radius: 0.6em;
  transition: 1s;
}





/* -----------------------CARD--------------- */

.plant-list {
  margin-top: 30px;
}

.card {
  display: flex;
  border: none;
  padding: 10px 10px;
}

.plant-details{
  border:none;
  margin: 0px 10px;
  width: 55%;
}

.name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.location {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.id {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.moisture {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
}

.div-remove-card {
  border: none;
  margin-top:-15px;
}

.remove-card {
  border: none;
  float: right;
  background-color: #413e3d;
  color: red;
  font-size: 20px;
  font-weight: bold;
  top: 0;
  right: 0;
}






/* ------------------------Progress Bar--------------- */
.skill {
  width:160px;
  top: 40px;
  height:160px;
  position: relative;
  border:none;
}

.outer {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  position:absolute;
  top:0;
  left:0;
  padding: 20px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner {
  height:120px;
  width: 120px;
  border-radius: 50%;
  display:flex;
  align-items:center;
  justify-content:center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -.5px  -.5px 0px rgba(255,255,255,1),
              .5px  .5px 0px rgba(255,255,255,0.7),
              0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#number {
  font-weight:600;
  border:none;
  color:white;
}

circle {
  fill:none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}
svg {
  position:absolute;
  top:0;
  left:0;
}

@keyframes anim {
  100%{
    /* Need to match this with the actual moisture percentage */
    stroke-dashoffset: 165;
  }
}


/* GRAPHING */






/* Pie Chart */
.progress-pie-chart {
width:200px;
height: 200px;
border-radius: 50%;
background-color: #686868;
position: relative;
}
.progress-pie-chart.gt-50 {
background-color: #001dff;
}

.ppc-progress {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 200px;
height: 200px;
clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 100px);
top: calc(50% - 100px);
width: 200px;
height: 200px;
clip: rect(0, 100px, 200px, 0);
background: #0a8f46;
transform: rotate(60deg);
}
.gt-50 .ppc-progress {
clip: rect(0, 100px, 200px, 0);
}
 gt-50 .ppc-progress .ppc-progress-fill {
clip: rect(0, 200px, 200px, 100px);
background: #552200;
}
  
.ppc-percents {
content: "";
position: absolute;
border-radius: 50%;
left: calc(50% - 173.91304px/2);
top: calc(50% - 173.91304px/2);
max-width: 173.91304px;
max-height: 173.91304px;
background: #4d5e0b;
text-align: center;
display: table;
border: #552200;
}
  
.pcc-percents-wrapper {
  max-height:173.91304px;
  max-width:173.91304px;
  vertical-align: middle;
  text-align:center;
}

.progress-pie-chart {
margin: 50px auto 0;
}
